.container {
  max-width: 1300px;
  height: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(img/bar.png);
  position: relative;
}

.drinks-title {
  margin: 0;
  font-size: 18px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.drink-select-list {
  width: 160px;
  border-radius: 10px;
  padding: 5px;
}
.form-wrapper {
  position: absolute;
  left: 660px;
  top: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.submit-button {
  border-radius: 10px;
  padding: 10px;
  border: none;
}
.cocktail-content {
  background-color: rgb(255, 255, 255);

  background-image: url(img/Cocktail-content.png);
  z-index: 1;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.image-cocktail {
  width: 200px;
}

.ul-cocktail-content {
  list-style-type: none;
}
.cocktail-content-title {
  color: black;
  background-color: rgb(246, 247, 240);
}
.cocktail-content-p {
  font-weight: bold;
  background-color: rgb(246, 247, 240);
}
.drink-content-instruction {
  font-weight: bold;
  background-color: rgb(246, 247, 240);
}
.cocktail-content-instructions {
  background-color: rgb(246, 247, 240);
}
.close-cocktail-content {
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: large;
  font-weight: 900;
}
.random-machine-text {
  width: 240px;
  height: 40px;
  position: absolute;
  left: 1320px;
  top: 660px;
  visibility: hidden;
  opacity: 0.9;
  background-color: rgb(231, 231, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  visibility: visible;
}
.random-machine-text-content {
  font-size: 20px;
  font-weight: 900;
}
.random-cocktail-content {
  background-color: rgb(255, 255, 255);

  background-image: url(img/Cocktail-content.png);
  z-index: 1;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.random-button {
  height: 60px;
  width: 150px;
  background-color: #66ccff;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(87, 173, 76);
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 0px #0099e6, 0px 8px 20px #3d3ba1;
  transition: all 0.2 ease;
  position: absolute;
  left: 430px;
  top: 240px;
}
.random-button:active {
  box-shadow: none;
  top: 245px;
}
